# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


#
._.DS_Store
._environment.yaml
._main.py
/old/
*.code-workspace
.cenv
/tmp/

# exclude data from source control by default
/data/
!/data/input/data_ancient.txt
!/data/input/data_control.txt

# ignore figures
/figures/

# Virtuelenv information
.python-version

# remove PyPI wheels
/dist/

# log files
/logs/

# remove docker-related folder
/docker/

# ignore coverage report
/htmlcov/
.coverage

# VS Code
.vscode/

# Dask worker space
/dask-worker-space/

# Mac OS-specific storage files
.DS_Store

# setuptools
*.egg-info/

# vim
*.swp
*.swo
pyproject.toml
